<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.select field.attribute, select_attributes(field), selected: field.selected_attribute(resource_name)  %>
</div>
