<ul class="sidebar__list">
  <% (Administrate::Namespace.new(namespace).resources - [:settings]).each do |resource| %>
    <li>
      <%= link_to(
        display_resource_name(resource),
        [namespace, resource],
        class: "sidebar__link sidebar__link--#{nav_link_state(resource)}"
      ) %>
    </li>
  <% end %>
  <li>
    <%= link_to(
      display_resource_name(:settings),
      [namespace, @current_setting],
      class: "sidebar__link sidebar__link--#{nav_link_state(:settings)}"
    ) %>
  </li>
  <li>
    <%= link_to t("devise.sessions.new.sign_out"), destroy_admin_session_path, method: :delete %>
  </li>
</ul>
