<% content_for(:title) { "#{t("administrate.actions.edit")} #{page.page_title}" } %>

<header class="header">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <%= link_to(
      "#{t("administrate.actions.show")} #{page.page_title}",
      [namespace, page.resource],
      class: "button",
    ) %>
    <% if page.resource.published? -%>
      <%= link_to(
        t("administrate.actions.unpublish"),
        unpublish_admins_violation_path(page.resource),
        method: :put,
        class: "button action-unpublish"
      ) %>
    <% else -%>
      <%= link_to(
        t("administrate.actions.publish"),
        publish_admins_violation_path(page.resource),
        method: :put,
        class: "button action-publish"
      ) %>
    <% end -%>
  </div>
</header>

<%= render "form", page: page %>
