<%= form_tag(new_email_admins_violation_path, class: "email_form") do %>
  <%= label_tag "#{t('activerecord.models.violation')} #{@id}" %>
  <%= label_tag t("administrate.labels.email") %>
  <%= text_area_tag :message, 'В данной форме добавьте свой комментарий о проблеме.', rows: 5 %>
  <%= collection_check_boxes(nil, :administration, @administrations, :id, :email) do |b| %>
    <%= b.label(class: "label_check_box") { b.check_box(class: "value_check_box") + b.text + ". " + b.object.title } %>
  <% end %>
  <%= submit_tag t("administrate.actions.send_email") %>
<% end %>
