<ul class="sidebar__list">
  <li>
    <%= link_to(
      t("activerecord.models.news"),
      moderators_news_index_path,
      class: "sidebar__link sidebar__link--#{nav_link_state(:news)}")
    %>
    <%= link_to(
      t("administrate.my"),
      ['moderators', current_moderator],
      class: "sidebar__link sidebar__link--#{nav_link_state(:moderators)}"
    ) %>
  </li>
  <li>
    <%= link_to t("devise.sessions.new.sign_out"), destroy_admin_session_path, method: :delete %>
  </li>
</ul>
