<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Уважаемая администрация.</h1>
    <p>
      Поступило сообщение о нарушении. Спасибо за сотрудничество.<br>
      Просьба ознакомиться по ссылке <%= link_to(@url, @url, target: "_blank") %> <br>
      Ниже комментарий от нашего администратора: <br>
      <%= @admins_comment %>
    </p>
    <h2>
      Краткий обзор.
    </h2>
    <h3>
      <p>Нарушение № <%= @violation.id %></p>
    </h3>
    <main style="width: 20em">
      <p>Проблема: <%= @violation.title %></p>
      <p>Описание проблемы: <%= @violation.description %></p>

      <%- if false %>
        <% @violation.photos.each do |photo| -%>
          <img src= <%=photo%> >
        <% end -%>
      <% end %>
      <p>Удачного вам дня!</p>
    </main>
  </body>
</html>
