<% content_for(:title) { "#{t("administrate.actions.edit")} #{page.page_title}" } %>

<header class="header">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <%= link_to(
      t("administrate.my"),
      [namespace, page.resource],
      class: "button",
    ) %>
  </div>
</header>

<%= render "special_form", page: page %>
