<% content_for(:title) { "#{t("administrate.actions.edit")} #{page.page_title}" } %>

<header class="header">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <ul>
    <li>
      <div class="header__actions">
      <%= link_to(
        "#{t("administrate.actions.show")} #{page.page_title}",
        [namespace, page.resource],
        class: "button",
      ) %>
    </div>
  </li><br>
  <li>
    <div class="header__actions">
      <%= link_to(
        t("administrate.actions.back"),
        moderators_news_index_path,
        class: "button",
      ) %>
  </div>
  </li>
  </ul>
</header>

<%= render "form", page: page %>
