<% content_for(:title) { page.page_title } %>

<header class="header">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <ul>
    <li>
      <div class="header__actions">
        <%= link_to(
          t("administrate.actions.edit"),
          [:edit, namespace, page.resource],
          class: "button",
        ) %>
      </div>
    </li><br>
    <li>
      <div class="header__actions">
        <%= link_to(
          t("administrate.actions.back"),
          moderators_news_index_path,
          class: "button",
        ) %>
      </div>
    </li>
  </ul>
</header>

<dl>
  <% page.attributes.each do |attribute| %>
    <dt class="attribute-label">
    <%= t(
      "activerecord.attributes.#{resource_name}.#{attribute.name}",
      default: attribute.name.titleize,
    ) %>
    </dt>

    <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
        ><%= render_field attribute %></dd>
  <% end %>
</dl>
