body ul.ui-autocomplete {
  width: 100px;
  background-color: white;
  border: 1px solid black;

  .ui-menu-item {
    border: 0.5px solid black;
    &:hover {
      background-color: #e6e6e6;
    }
  }
}
.public-info {
  margin: 0 4em;
  #attributes {
    div {
      display: inline-block;
    }
  }
}
