<ul class="sidebar__list">
  <li>
    <%= link_to(
      t("activerecord.models.violation"),
      [:admins, :violations],
      class: "sidebar__link sidebar__link--active"
    ) %>
  </li>
  <li>
    <%= link_to(
      t("activerecord.models.administration"),
      [:admins, :administrations],
      class: "sidebar__link sidebar__link--active"
    ) %>
  </li>
  <li>
    <%= link_to t("devise.sessions.new.sign_out"), destroy_admin_session_path, method: :delete %>
  </li>
</ul>
