
<%= include_gon %>
<%= stylesheet_link_tag "custom" %>
<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(page.resource.errors.count, "error") %>
        prohibited this <%= page.resource_name %> from being saved:
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% page.attributes.each do |attribute| -%>
    <div class="field-unit field-unit--<%= attribute.html_class %>">
    <% if attribute.name.eql?('place') %>
      <div class="field-unit__label">
        <%= f.label t("activerecord.attributes.news.place") %>
      </div>
      <div class="field-unit__field">
        <%= f.text_field :place %>
      </div>
    <% else %>
      <%= render_field attribute, f: f %>
    <% end %>
    </div>
  <% end -%>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
