<div class="public-info">
  <h1><%= t('activerecord.models.violation') %> #<%= @violation.id %></h1>
  <%= javascript_include_tag "https://api-maps.yandex.ru/2.1/?lang=ru_RU", type: "text/javascript" %>
  <%= javascript_include_tag 'public/yandex_map' %>

  <div id="map" style="width: 800px; height: 400px"></div>

  <div id="attributes">
    <%- @violation.photos.each do |photo| %>
      <img src="<%= photo %>" alt="">
    <%- end %>
    <br>

    <label for="user"><%= t('activerecord.attributes.user.full_name') %></label>
    <div id="user"><%= @violation.user.full_name %></div>
    <br>

    <label for="status"><%= t('activerecord.attributes.violation.status') %></label>
    <div id="status"><%= t("activerecord.attributes.violation.statuses.#{@violation.status}") %></div>
    <br>

    <%- (@violation.attributes.keys - %w(user_id photos status id)).each do |attribute| %>
      <label for="<%= attribute %>"><%= t("activerecord.attributes.violation.#{attribute}") %></label>
      <div id="<%= attribute %>"><%= @violation.send(attribute) %></div>
      <br>
    <%- end %>

  </div>
</div>
